## Objectives

* Akses data-data pada https://www.kaggle.com/anlgrbz/student-demographics-online-education-dataoulad kecuali studentVle.csv
* Koneksikan Python dengan SQL Database menggunakan SQLite.
* Simpan masing-masing data ke masing-masing tabel ke dalam SQLite database menggunakan keyword CREATE dan INSERT.
* Buatlah query select untuk memperoleh data dengan kolom: id_student, region, code_module, assessment_type, score. Data yang diambil hanya dengan code_presentation 2014B.
* Simpan hasil select record ke sebuah pandas dataframe, kemudian tampilkan hasilnya dan simpan ke dalam file excel.

## Import Library

In [1]:
import sqlite3
from sqlite3 import Error
import csv

## Connection Function

In [2]:
try:
    connection = sqlite3.connect('University')
    print("Connection to SQLite DB successful")
except Error as e:
    print(f"The error '{e}' occurred")

Connection to SQLite DB successful

In [ ]:
check = conn.execute("SELECT * FROM ")

## Execute Function

In [6]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

In [7]:
create_users_table = """
CREATE TABLE IF NOT EXISTS assessments (
  code_module TEXT NOT NULL, 
  code_presentation TEXT NOT NULL, 
  id_assessment INT NOT NULL, 
  assessment_type TEXT NOT NULL, 
  date INT NOT NULL, 
  weight INT 
) 
"""

execute_query(connection, create_users_table)

Query executed successfully

In [8]:
create_courses_table = """
CREATE TABLE IF NOT EXISTS courses (
  code_module TEXT NOT NULL, 
  code_presentation TEXT NOT NULL, 
  module_presentation_length INT NOT NULL
) 
"""

execute_query(connection, create_courses_table)

Query executed successfully

In [9]:
create_studentAssessment_table = """
CREATE TABLE IF NOT EXISTS studentAssessment (
  id_assessment INT NOT NULL,
  id_student INT NOT NULL, 
  date_submitted INT NOT NULL, 
  is_banked INT NOT NULL, 
  score INT NOT NULL,
  PRIMARY KEY(id_assessment) 
) 
"""

execute_query(connection, create_studentAssessment_table)

Query executed successfully

In [10]:
create_studentInfo_table = """
CREATE TABLE IF NOT EXISTS studentInfo (
 code_module TEXT NOT NULL,
 code_presentation TEXT NOT NULL,
 id_student INT NOT NULL,
 gender TEXT NOT NULL,
 region TEXT NOT NULL,
 highest_education TEXT NOT NULL,
 imd_band TEXT NOT NULL,
 age_band TEXT NOT NULL,
 num_of_prev_attempts INT NOT NULL ,
 studied_credits INT NOT NULL,
 disability TEXT NOT NULL,
 final_result TEXT NOT NULL
) 
"""

execute_query(connection, create_studentInfo_table)

Query executed successfully

In [11]:
create_studentRegistration_table = """
CREATE TABLE IF NOT EXISTS studentRegistration (
 code_module TEXT NOT NULL,
 code_presentation TEXT NOT NULL,
 id_student INT NOT NULL,
 date_registration INT NOT NULL ,
 date_unregistration INT
) 
"""

execute_query(connection, create_studentRegistration_table)

Query executed successfully

In [12]:
create_vle_table = """
CREATE TABLE IF NOT EXISTS vle (
 id_site INT NOT NULL,
 code_module TEXT NOT NULL,
 code_presentation TEXT NOT NULL,
 activity_type TEXT NOT NULL,
 week_from INT,
 week_to INT,
 PRIMARY KEY(id_site)
) 
"""

execute_query(connection, create_vle_table)

Query executed successfully

In [14]:
checking  = connection.execute("SELECT * FROM assessments")

for row in checking :
    print(row)

In [17]:
cursor1 = conn.cursor()

with open('assessments.csv', 'r') as file:
    no_records = 0
    for row in file:
        execute_query("INSERT INTO assessments VALUES (?,?,?,?,?)", row.split(","))
        conn.commit()
        no_records += 1
print('\n{} records transferred'.format())

AttributeError: 'str' object has no attribute 'cursor'